.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /deep/ .van-swipe{
                height: 13rem;
        /deep/ .van-swipe__track{
            /deep/ .van-swipe-item{
                img{
                    // object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
    /deep/.van-button{
            width: 50%;
            margin: 0 auto;
            margin-bottom: px(70);
    }   

    /deep/.van-dropdown-menu__title::after{
        color: white;
    }
    /deep/.van-ellipsis{
        color: white;
    }
    /deep/.van-dropdown-menu__item{
        background-color: #1989fa;
    }
}