.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /deep/ .van-swipe{

        /deep/ .van-swipe__track{
            /deep/ .van-swipe-item{
                img{
                    // object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
    /deep/.van-button{
            width: 50%;
            margin: 0 auto;
            margin-bottom: px(70);
    }   
}